
<ion-header>
  <ion-toolbar>
    <ion-title>collegeDept</ion-title>
  </ion-toolbar>
</ion-header> 


<ion-content>

  <ion-card>
   
      <!-- Added
  <ion-buttons>
    <button ion-button (click)="ComSci()">Go an Other Page (Computer Science)</button>
  </ion-buttons> -->

  <ion-card-header>
    
    <ion-icon name="business"></ion-icon>
    <ion-card-title>College #1</ion-card-title>
    <ion-card-subtitle>Departments</ion-card-subtitle>
  </ion-card-header>

  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>College #2</ion-card-title>
    <ion-card-subtitle>Departments</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>College #3</ion-card-title>
      <ion-card-subtitle>Departments</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>College #4</ion-card-title>
      <ion-card-subtitle>Departments</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

</ion-content>


<ion-tabs>
  <ion-tab-bar slot="bottom">
  
  <ion-grid>
    <ion-row>
      
      <ion-col>
        <ion-button fill="clear" (click)="exit()">
          <ion-icon size="large" name="exit-outline"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-button fill="clear">
          <ion-icon size="large" name="search"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-button fill="clear" (click)="toUserProfile()">
          <ion-icon size="large" name="person-circle"></ion-icon>
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>

  </ion-tab-bar>
</ion-tabs>
