<!-- contains everrythong that will show in Login page -->
<!--
<ion-content>
  <div class="userLogin">
    <ion-item>
      <ion-input type="text" placeholder="Username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" placeholder="Password"></ion-input>
    </ion-item>
    <ion-button size="large" href="/touchid" expand="block">Login</ion-button>
  </div>
</ion-content>
-->


<ion-content>

  <ion-grid class="grid1">
  
      <ion-row class="row1">
          <ion-col>
  
            <h1>Formana</h1>
          </ion-col>
      </ion-row>
  
      <ion-row class="row2">
          <ion-col>
  
          </ion-col>
      </ion-row>
  
  </ion-grid>
  
  <ion-slide>
      <div class="contaier-login">
        <ion-grid>

              <ion-row>
                
              </ion-row>
              <ion-row>
                  <ion-col>
                      <ion-list>
  
                          <ion-item>
                              <ion-icon name="person" class="icon-login"></ion-icon>
                              <ion-input name="email" type="email" required placeholder="email"></ion-input>
                          </ion-item>
                          <br>
                          <ion-item>
                              <ion-icon name="lock" class="icon-login"></ion-icon>
                              <ion-input name="password" type="password" required placeholder="password"></ion-input>
                          </ion-item>
                          <br>
  
                      </ion-list>
                  </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-button shape="round" color="batstateuRed" size="default">
                    Login
                  </ion-button>     
                  <ion-button shape="round" color="batstateuRed" size="default">
                    Exit
                  </ion-button> 
                </ion-col>
              </ion-row>
          <ion-row>
              <ion-col>
                  <ion-label>
                      <h6>forgot password</h6>
                  </ion-label>
              </ion-col>
          </ion-row>
        </ion-grid>
      </div>
  </ion-slide>
</ion-content>