<!-- contains everrythong that will show in Login page -->
<!--
<ion-content>
  <div class="userLogin">
    <ion-item>
      <ion-input type="text" placeholder="Username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" placeholder="Password"></ion-input>
    </ion-item>
    <ion-button size="large" href="/touchid" expand="block">Login</ion-button>
  </div>
</ion-content>
-->


<ion-content>

  <ion-grid class="grid1">
  
      <ion-row class="row1">
      </ion-row>
  
      <ion-row class="row2">
          <ion-col>
            <div>
                <ion-input name="email" type="email" required placeholder=" Enter your Email"></ion-input>
            <br>
                <ion-input name="password" type="password" required placeholder=" Enter your Password"></ion-input>  
            </div>
            <br>
          </ion-col>    
      </ion-row>

      <ion-row class="row3">
        <ion-col>
          <div>
            <ion-button shape="round" color="batstateuRed" size="large">
              Login
            </ion-button>     
            <ion-button shape="round" color="batstateuRed" size="large">
              Exit
            </ion-button> 
          </div>  
        </ion-col>
      </ion-row>



  </ion-grid>
</ion-content>
