ion-content{
    --background: #d9d9d9e3;
}

ion-header {
    //--ion-toolbar-background: transparent;
    --background:none;
    background: url('/assets/Alangilan-entrance.jpg') no-repeat fixed center;

    background-size: cover;
    width:100%;
   // height:177px;
    float:left;

    height: 30vh;
}

div {
    display: flex;
    margin-top: -50px;
    width: 45%;
    height: 100px;
    margin-top: 50px;
    margin-right: 5%;
    border: 1px solid black
}

ion-avatar {
    --border-radius: 4px;
  }